<div id="<%= dom_id reference_image %>">
  <p>
    <strong>Title:</strong>
    <%= reference_image.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reference_image.description %>
  </p>

</div>
