<p style="color: green"><%= notice %></p>

<% content_for :title, "Reference images" %>

<h1>Reference images</h1>

<div id="reference_images">
  <% @reference_images.each do |reference_image| %>
    <%= render reference_image %>
    <p>
      <%= link_to "Show this reference image", reference_image %>
    </p>
  <% end %>
</div>

<%= link_to "New reference image", new_reference_image_path %>
