<% content_for :title, "New reference image" %>

<h1>New reference image</h1>

<%= render "form", reference_image: @reference_image %>

<br>

<div>
  <%= link_to "Back to reference images", reference_images_path %>
</div>
