<h1>Screenshot Verification Project</h1>

<p>Welcome! Choose what you want to do:</p>

<ul>
  <li><%= link_to "Upload Reference Image", new_reference_image_path %></li>
  <li><%= link_to "View All Reference Images", reference_images_path %></li>
  <li><%= link_to "Upload Screenshot Image", new_image_path %></li>
  <li><%= link_to "View All Screenshots", images_path %></li>
</ul>
